.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: blue;
}
.Nav-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
